---
import { Aside } from '@astrojs/starlight/components';
---

<Aside type="note">
	<p>
		Organization admins can <a href="/organizations/roles-and-permissions-for-organizations#change-analysis-configuration">manage access to this feature</a>.
	</p>
</Aside>

