.roles-and-permissions td:not(:first-child),
.roles-and-permissions th:not(:first-child) {
	text-align: center !important;
}

.roles-and-permissions table:not([data-exclude]) tr:nth-child(1) td {
	background-color: var(--sl-color-blue-low);
}

.roles-and-permissions td {
	border-left: 1px solid var(--sl-color-gray-5);
	border-top: 1px solid var(--sl-color-gray-5);
}

.roles-and-permissions td:nth-child(1) {
	border-left: 0;
}

.roles-and-permissions .yes {
	background-color: var(--sl-color-green-low);
}

.roles-and-permissions .no {
	background-color: var(--sl-color-red-low);
}

.roles-and-permissions .maybe {
	background-color: var(--sl-color-blue-low);
}
