.theme-layout-footer.footer {
    margin: 1rem;
    border-radius: 1rem;
    --ifm-footer-background-color: var(--ifm-color-emphasis-300)
}

[data-theme='dark'] {
    .theme-layout-footer.footer {
        --ifm-footer-background-color: var(--ifm-color-emphasis-100)
    }
    
}

@media (min-width: 997px) {
    .theme-layout-footer.footer {
        margin: 2rem;
    }
}