@media (min-width: 997px) {
    .main-wrapper {
        margin: 0 2rem;
    }

    .menu {
        border: 1px solid var(--ifm-color-emphasis-300);
        border-radius: 1rem 0 0 1rem;
        padding: 1rem 0.5rem !important;
        position: relative;
    }

    .menu::after {
        content: '';
        position: fixed;
        display: block;
        width: calc(var(--doc-sidebar-width));
        height: 2rem;
        border-color: var(--ifm-color-emphasis-300);
        border-style: solid;
        border-width: 1px 0 0 1px;
        border-radius: 1rem 0 0 0;
        top: calc(var(--ifm-navbar-height));
        left: 2rem;
        z-index: 2;
    }
    
    .menu::before {
        content: '';
        position: fixed;
        width: 1rem;
        height: 10rem;
        background: var(--ifm-background-surface-color);
        top: calc(var(--ifm-navbar-height) - 9rem);
        left: 2rem;
        z-index: 1;
    }

}

@media (max-width: 1200px){
    .theme-layout-main .container {
        padding: 1.5rem;
        margin: 0;
    }
  }

@layer docusaurus.infima {
    @media (min-width: 997px) {
        .theme-layout-main .container {
            padding-top: 4rem !important;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
}