@media (min-width: 997px) {
    .main-wrapper {
        margin: 0 2rem;
    }

    .menu {
        border: 1px solid var(--ifm-color-emphasis-300);
        border-radius: 1rem 0 0 1rem;
        padding: 1rem 0.5rem !important;
    }
}

@media (max-width: 1200px){
    .theme-layout-main .container {
        padding: 1.5rem;
        margin: 0;
    }
  }

@layer docusaurus.infima {
    @media (min-width: 997px) {
        .theme-layout-main .container {
            padding-top: 4rem !important;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
}