[submodule "submodules/codacy-coverage-reporter"]
	path = submodules/codacy-coverage-reporter
	url = https://github.com/codacy/codacy-coverage-reporter
	branch = mkdocs
[submodule "submodules/codacy-mkdocs-material"]
	path = submodules/codacy-mkdocs-material
	url = https://github.com/codacy/codacy-mkdocs-material
