mkdocs==1.1.2
mike==0.5.5
markdown==3.3.3
Pygments==2.7.2
pymdown-extensions==8.0.1
mkdocs-material-extensions==1.0.1
mkdocs-git-revision-date-localized-plugin==0.7.3
mkdocs-monorepo-plugin==0.4.11
mkdocs-markdownextradata-plugin==0.1.9
mkdocs-redirects==1.0.1
mkdocs-rss-plugin==0.9.0
