mkdocs==1.1.2
mike==0.5.5
markdown==3.3.4
Pygments==2.10.0
pymdown-extensions==8.2
mkdocs-git-revision-date-localized-plugin==0.9.3
mkdocs-monorepo-plugin==0.4.16
mkdocs-markdownextradata-plugin==0.2.4
mkdocs-redirects==1.0.3
mkdocs-include-markdown-plugin==3.2.2
mkdocs-rss-plugin==0.17.0
mkdocs-meta-descriptions-plugin==1.0.1
mkdocs-exclude==1.0.2

# The requirements below are fixed for compatibility
Jinja2==2.11.3
mkdocs-material<=7.2.3
