.footer {
  --footer-bg: var(--ifm-color-emphasis-300);
  --footer-text: var(--ifm-color-emphasis-800);
  --footer-link: var(--ifm-color-emphasis-800);
  --footer-gap: 2rem;
  --footer-radius: 1rem;
  --footer-padding: 2rem 1.5rem;
  margin: 1rem;
  border-radius: var(--footer-radius);
  background: var(--footer-bg);
}

:global([data-theme='dark']) .footer {
  --footer-bg: var(--ifm-color-emphasis-100);
  --footer-text: var(--ifm-color-emphasis-900);
  --footer-link: var(--ifm-color-emphasis-900);
}

@media (min-width: 997px) {
    .footer {
      margin: 2rem;
    }
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--footer-padding);
}

.group {
    display: flex;
    align-items: center;
    gap: calc(var(--footer-gap) * 2);
    flex-wrap: wrap;
}

.social {
    display: flex;
    gap: 0.75rem;
}

.iconLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    color: var(--footer-text);
}

.icon {
    font-size: 18px;
    display: block;
    color: currentColor;
}

.nav {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.navLink {
    color: var(--footer-link);
    font-weight: 600;
    text-decoration: none;
}

.copyright {
    color: var(--footer-link);
    font-weight: 600;
    margin-left: var(--footer-gap);
}

@media (max-width: 900px) {
    .inner {
      flex-direction: column;
      align-items: flex-start;
    }

    .group {
      gap: 1.5rem;
    }

    .copyright {
      margin-left: 0;
    }
}
