.docMainContainer {
  display: flex;
  width: 100%;
}

.docItemWrapperOuter {
  width: 100%;
}

.docItemWrapper {
  width: 100%;
}

.docItemWrapperInner {
  width: 100%;
}

@media (min-width: 997px) {

  .docItemWrapperOuter {
    border-radius: 0 1rem 1rem 0;
    border-color: var(--ifm-color-emphasis-300);
    border-style: solid;
    border-width: 1px 1px 1px 0;
    position: relative;
    z-index: 0;
  }

  .docItemWrapperOuter::after {
    content: '';
    position: fixed;
    display: block;
    width: calc(100% - var(--doc-sidebar-width) - 2rem - 2rem - 1px);
    height: 2rem;
    border-color: var(--ifm-color-emphasis-300);
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-radius: 0 1rem 0 0;
    top: calc(var(--ifm-navbar-height));
    z-index: 2;
  }

  .docItemWrapperOuter::before {
    content: '';
    position: fixed;
    width: 1rem;
    height: 10rem;
    background: var(--ifm-background-surface-color);
    top: calc(var(--ifm-navbar-height) - 9rem);
    right: 2rem;
    z-index: 1;
  }

  .docMainContainer {
    flex-grow: 1;
    max-width: calc(100% - var(--doc-sidebar-width));
  }

  .docMainContainerEnhanced {
    max-width: calc(100% - var(--doc-sidebar-hidden-width));
  }

  .docItemWrapperEnhanced {
    max-width: calc(
      var(--ifm-container-width) + var(--doc-sidebar-width)
    ) !important;
  }
}
