---
const { toolName } = Astro.props as { toolName: string };
---

<h2>Advanced configuration</h2>
<p>
	See the available <a href="https://github.com/codacy/codacy-analysis-cli#configuration">Codacy Analysis CLI configuration flags</a> to configure running {toolName} in more advanced
	scenarios.
</p>

