---
import { Aside } from '@astrojs/starlight/components';
---

<Aside type="note">
	<p>
		GitHub only: this feature requires updated app permissions. If you haven't done so yet, please
		<a href="https://docs.github.com/en/enterprise-cloud@latest/apps/using-github-apps/reviewing-and-modifying-installed-github-apps#reviewing-permissions">review and accept the updated Codacy app permissions</a>
		on GitHub.
	</p>
</Aside>

