---
import { Aside } from '@astrojs/starlight/components';
---

<Aside type="note">
	<p>You can use the Codacy API to generate reports or obtain information about the code quality of your repositories in a more flexible way.</p>
	<p>For more information see the list of <a href="https://api.codacy.com/api/api-docs#codacy-api-analysis">available API endpoints</a> and the following examples:</p>
	<ul>
		<li><a href="/codacy-api/examples/obtaining-current-issues-in-repositories">Obtaining current issues in repositories</a></li>
		<li><a href="/codacy-api/examples/obtaining-code-quality-metrics-for-files">Obtaining code quality metrics for files</a></li>
	</ul>
</Aside>

