---
---

<p>Click the title of an issue card to expand it and see the following information:</p>
<ul>
	<li>The committer and date of the commit that introduced the issue, if available</li>
	<li>The estimated time to fix the issue</li>
	<li>What the issue is and how to solve it</li>
	<li>
		The <a href="/getting-started/supported-languages-and-tools/">tool that reported the issue</a> and the related code pattern
	</li>
	<li>Where's this pattern enabled: coding standard, repository rules, or configuration file</li>
</ul>

