

.version-select-container {
  margin-bottom: -1rem;
  padding-top: 0;
  text-align: right;
}
.version-select-container::before {
  display: none;
}

.select-css {
	display: inline-block;
  
  cursor: pointer;
  font-size: 0.7rem;
  line-height: 1;
	box-sizing: border-box;
  
	color: #354B71;
  padding: .5rem;
  padding-right: 1rem;
	margin: 0;
	border: 0;
	border-radius: .25em;
	-moz-appearance: none;
	-webkit-appearance: none;
  appearance: none;
  
	background-color: #E6ECFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='451.847' height='451.847'%3E%3Cpath fill='%23354B71' d='M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z'/%3E%3C/svg%3E");
	background-repeat: no-repeat, repeat;
	background-position: right .5em top 50%, 0 0;
  background-size: .55em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:focus {
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #fff;
  font-weight: 600;
  background-color: #354B71;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='451.847' height='451.847'%3E%3Cpath fill='%23fff' d='M225.923 354.706c-8.098 0-16.195-3.092-22.369-9.263L9.27 151.157c-12.359-12.359-12.359-32.397 0-44.751 12.354-12.354 32.388-12.354 44.748 0l171.905 171.915 171.906-171.909c12.359-12.354 32.391-12.354 44.744 0 12.365 12.354 12.365 32.392 0 44.751L248.292 345.449c-6.177 6.172-14.274 9.257-22.369 9.257z'/%3E%3C/svg%3E");
	outline: none;
}
.select-css option {
	font-weight:normal;
}