:root {
  /* Brand */
  --ifm-color-primary: var(--codacy-primary);
  --ifm-color-primary-dark: var(--codacy-blue-30);
  --ifm-color-primary-darker: var(--codacy-blue-30);
  --ifm-color-primary-darkest: var(--codacy-blue-20);
  --ifm-color-primary-light: var(--codacy-blue-60);
  --ifm-color-primary-lighter: var(--codacy-blue-70);
  --ifm-color-primary-lightest: var(--codacy-blue-80);

  /* Status */
  --ifm-color-success: var(--codacy-success);
  --ifm-color-warning: var(--codacy-warning);
  --ifm-color-danger: var(--codacy-danger);

  --ifm-color-white: var(--codacy-grey-100);
  --ifm-color-black: var(--codacy-grey-00);

  /* Greys (Codacy scale) */
  --ifm-color-gray-0: var(--codacy-grey-100);
  --ifm-color-gray-100: var(--codacy-grey-98);
  --ifm-color-gray-200: var(--codacy-grey-95);
  --ifm-color-gray-300: var(--codacy-grey-90);
  --ifm-color-gray-400: var(--codacy-grey-80);
  --ifm-color-gray-500: var(--codacy-grey-70);
  --ifm-color-gray-600: var(--codacy-grey-60);
  --ifm-color-gray-700: var(--codacy-grey-50);
  --ifm-color-gray-800: var(--codacy-grey-40);
  --ifm-color-gray-900: var(--codacy-grey-15);
  --ifm-color-gray-1000: var(--codacy-grey-00);
}

[data-theme='dark'] {
  /* Brand: shift lighter for contrast on dark backgrounds */
  --ifm-color-primary: var(--codacy-blue-60);
  --ifm-color-primary-dark: var(--codacy-blue-50);
  --ifm-color-primary-darker: var(--codacy-blue-40);
  --ifm-color-primary-darkest: var(--codacy-blue-30);
  --ifm-color-primary-light: var(--codacy-blue-70);
  --ifm-color-primary-lighter: var(--codacy-blue-80);
  --ifm-color-primary-lightest: var(--codacy-blue-90);

  /* Status */
  --ifm-color-success: var(--codacy-green-60);
  --ifm-color-warning: var(--codacy-yellow-60);
  --ifm-color-danger: var(--codacy-red-60);
}
