/*
These are overides to the current theme.
*/

:root, ::backdrop {
    --sl-color-text-accent: #005DF0;
    --sl-font: Inter;
    --sl-color-bg-nav: var(--sl-color-bg-sidebar);

    --sl-text-2xs: 0.5rem;
    --sl-text-xs: 0.75rem;
    --sl-text-sm: 0.8125rem;
    --sl-text-base: 0.875rem;
    --sl-text-lg: 1rem;
    --sl-text-xl: 1.125rem;
    --sl-text-2xl: 1.25rem;
    --sl-text-3xl: 1.5rem;
    --sl-text-4xl: 1.8125rem;
    --sl-text-5xl: 2.1875rem;
    --sl-text-6xl: 4rem;

    --title-height: 4rem;
}

a {
    text-decoration: none;
}

.right-sidebar {
    border-inline-start: none;
}

.content-panel {
    border-top: none;
}

.content-panel:first-of-type {
    padding-top: var(--title-height)
}

/* Hide the Table of Contents heading (“On this page”) visually, but keep it for screen readers. */
#starlight__on-this-page {
    opacity: 0;
    height: 0;
    padding-top: var(--title-height)
}


/* Hide the starlight-sidebar-topics topic list (we use the header tabs instead). */
ul.starlight-sidebar-topics {
    display: none !important;
}
