/*
These are overides to the current theme.
*/

:root, ::backdrop {
    --sl-color-text-accent: #005DF0;
    --sl-font: Inter;
    --sl-color-bg-nav: var(--sl-color-bg);

    --title-height: 4rem;
}

a {
    text-decoration: none;
}

.right-sidebar {
    border-inline-start: none;
}

.content-panel {
    border-top: none;
}

.content-panel:first-of-type {
    padding-top: var(--title-height)
}

/* Hide the Table of Contents heading (“On this page”) visually, but keep it for screen readers. */
#starlight__on-this-page {
    opacity: 0;
    height: 0;
    padding-top: var(--title-height)
}

/*hide social icons on header*/
.header .social-icons {
    display: none;
}