.md-header {
  background-color: #101e35 !important;
}

.md-header img {
  border: 0 none;
  width: 95px !important;
  height: 27px !important;
}

@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: 80%;
  }
  .md-sidebar--primary {
    left: 20px;
  }
  .md-sidebar--secondary {
    right: 20px;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;
  }
}
