name: MkDocs

on: push

concurrency: ${{ github.workflow }}

jobs:
  mkdocs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.DEPLOYMENT_PERSONAL_ACCESS_TOKEN }}
          submodules: true
          # git-revision-date-localized-plugin and mkdocs-rss-plugin need full git history depth
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"
          cache: "pip"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Build docs
        run: |
          mkdocs -v build

      - name: Validate generated HTML files
        run: |
          docker run -v $(pwd):/test --rm wjdp/htmltest --conf .htmltest.yml

      # Deploy branch previews
      - name: Deploy docs (preview)
        if: github.ref != 'refs/heads/master' && !startsWith(github.ref, 'refs/heads/release/v')
        uses: nwtgck/actions-netlify@v1.2
        with:
          publish-dir: ./site
          production-branch: master
          github-token: ${{ secrets.DEPLOYMENT_PERSONAL_ACCESS_TOKEN }}
          deploy-message: Deploy from GitHub Actions
          enable-pull-request-comment: true
          enable-commit-comment: false
          overwrites-pull-request-comment: true
          netlify-config-path: ./netlify.toml
          alias: ${{ github.ref_name }}
          github-deployment-environment: Netlify
          github-deployment-description: Branch deployment preview
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_PERSONAL_ACCESS_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

      # Deploy Latest docs on push to master
      - name: Set up environment variables
        if: github.ref == 'refs/heads/master'
        run: |
          echo "MKDOCS_VERSION=$(mkdocs --version | cut -d " " -f 3)" >> $GITHUB_ENV
          echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-9`" >> $GITHUB_ENV

      - name: Deploy docs (Latest)
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master'
        with:
          personal_token: ${{ secrets.DEPLOYMENT_PERSONAL_ACCESS_TOKEN }}
          publish_dir: ./site
          destination_dir: ./
          keep_files: true
          cname: ${{ env.CUSTOM_DOMAIN }}
          allow_empty_commit: true
          full_commit_message: Deployed ${{ env.SHORT_SHA }} to . with MkDocs ${{ env.MKDOCS_VERSION }}
        env:
          CUSTOM_DOMAIN: docs.codacy.com

      # Deploy Self-hosted docs on push to release/vM.m branch
      - name: Set up git author
        uses: oleksiyrudenko/gha-git-credentials@v2
        if: startsWith(github.ref, 'refs/heads/release/v')
        with:
          name: ${{ github.actor }}
          email: ${{ github.actor }}@users.noreply.github.com
          token: ${{ secrets.DEPLOYMENT_PERSONAL_ACCESS_TOKEN }}

      - name: Deploy docs (Self-hosted)
        if: startsWith(github.ref, 'refs/heads/release/v')
        run: |
          git fetch origin gh-pages --verbose
          mike deploy ${GITHUB_REF##*/release/} -t "Self-hosted ${GITHUB_REF##*/release/}" --config-file "${GITHUB_WORKSPACE}/mkdocs.yml" --push --rebase
        env:
          MKDOCS_SELF_HOSTED: true
