name: Vale

on: pull_request

jobs:
  prose:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/master' && !startsWith(github.ref, 'refs/heads/release/v')
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_PERSONAL_ACC_TOK }}
          submodules: true
          fetch-depth: 0

      - name: File changes
        id: file_changes
        uses: trilom/file-changes-action@v1.2.4

      - name: Vale
        uses: errata-ai/vale-action@v1.3.0
        with:
          files: '${{ steps.file_changes.outputs.files_modified }}'
        env:
          # Required
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
